{% extends 'common/layout.html' %}

{% block title %}被抽检作品列表{% endblock %}

{% block content %}
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>所有人被抽检记录</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-2 m-b-xs">
                            <select class="input-sm form-control input-s-sm inline checkbox-item">
                                {% for item in allotList %}
                                <option value="/sampling/alliplist?allotNum={{ item.allotNum }}" {% if item.allotNum == param.allotNum %} selected {% endif %}>{{ item.allotNumTitle }}</option>
                                {% endfor %}

                                {% if not allotList %}
                                <option>暂无抽检</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>抽检人</th>
                                <th>抽检人类型</th>
                                <th>抽检准确率</th>
                                <th>抽检时间</th>
                                <th>查看抽检结果</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in list %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.rms.name }}</td>
                                <td>{{ item.rms.auth_name }}</td>
                                <td>{{ item.accuracy * 100 }}%</td>
                                <td>{{ item.updateAt }}</td>
                                <th><a href="/sampling/myiplist?uid={{ item.rms.uid }}&allotNum={{ param.allotNum }}" target="_blank">查看抽检结果</a></th>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if not list %}
                        <p style="text-align: center" ng-if="nullData" class="ng-scope">暂无数据</p>
                        {% endif %}


                        <div id='page_navigation'>
                        </div>
                        <span style="height: 28px;line-height: 28px;float: right;" class="ng-binding">共 {{ page.item_count }} 条记录 &nbsp;&nbsp;&nbsp;</span>
                        <input type='hidden' id='current_page' value="{{ page.page_index }}" />
                            <input type='hidden' id='total_num' value="{{ page.item_count }}" />
                            <input type='hidden' id='page_num' value="{{ page.page_size }}" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block afterfoot %}

{% endblock %}
