<div class="modal fade in checkResult">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">评审打分</h3>
                        <br>
                        <form role="form">
                            <div class="form-group">
                                <label style="color:#00acff">故事：</label>
                                <input class="form-control" type="text" placeholder="满分20分" name="story">
                            </div>
                            <br>
                            <div class="form-group">
                                <label style="color:#00acff">结构：</label>
                                <input class="form-control" type="text" placeholder="满分40分" name="structure">
                            </div>
                            <br>
                            <div class="form-group">
                                <label style="color:#00acff">人物：</label>
                                <input class="form-control" type="text" placeholder="满分30分" name="character">
                            </div>
                            <br>
                            <div class="form-group">
                                <label style="color:#00acff">市场：</label>
                                <input class="form-control" type="text" placeholder="满分10分" name="market">
                            </div>
                        </form>
                    </div>
                </div>
                <div style="padding-bottom: 20px;">
                    <button class="btn btn-md btn-primary pull-right m-t-n-xs" id="closeDialog" type="button"><strong>关闭窗口</strong>
                    </button>

                    <button style="margin-right: 20px" class="btn btn-md btn-primary pull-right m-t-n-xs" onclick="submitScore()" type="button"><strong>提交评审</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in checkResult" style="display: none"></div>